<%= form_with(model: demand, local: true) do |form| %>
  <% if demand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(demand.errors.count, "error") %> prohibited this demand from being saved:</h2>

      <ul>
        <% demand.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label :region_id %>
    <%= form.select :region_id, Region.all.collect {|region| [region.description, region.id]} %>
  </div>

  <div class="field">
    <%= form.label :supervisor_id %>
    <%= form.select :supervisor_id, Supervisor.all.collect {|supervisor| [supervisor.name, supervisor.id]} %>
  </div>

  <div class="field">
    <%= form.label :owner %>
    <%= form.text_field :owner %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :demandType %>
    <%= form.select :demandType, [['Diligência', 'DILI'], ['Denúncia', 'DEN'], ['SSFIS', 'FIS'], ['Renovável', 'RENOV'],
                                  ['Sinistro', 'SINIS']] %>
  </div>

  <div class="field">
    <%= form.label :dueDate %>
    <%= form.date_select :dueDate %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
