<%= form_with(model: demand, local: true) do |form| %>
  <% if demand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(demand.errors.count, "error") %> prohibited this demand from being saved:</h2>

      <ul>
        <% demand.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :code, "Código" %>
    <%= form.text_field :code, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :region_id, "Regional" %>
    <%= form.select :region_id, Region.all.collect {|region| [region.description, region.id]}, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :supervisor_id, "Fiscal" %>
    <%= form.select :supervisor_id, Supervisor.all.collect {|supervisor| [supervisor.name, supervisor.id]}, {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :owner, "Proprietário" %>
    <%= form.text_field :owner, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :city, "Cidade" %>
    <%= form.text_field :city, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :demandType, "Tipo" %>
    <%= form.select :demandType, [['Diligência', 'Diligência'], ['Denúncia', 'Denúncia'], ['SSFIS', 'SSFIS'], ['Renovável', 'Renovável'],
                                  ['Sinistro', 'Sinistro']], {}, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :dueDate, "Data cadastro" %>
    <%= form.date_select :dueDate, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
