<p id="notice"><%= notice %></p>

<h1>Demandas</h1>
<br/>
<table class="table">
  <thead>
    <tr>
      <th>Código</th>
      <th>Proprietário</th>
      <th>Cidade</th>
      <th>Tipo</th>
      <th>Data cadastro</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @demands.each do |demand| %>
      <tr>
        <td><%= demand.code %></td>
        <td><%= demand.owner %></td>
        <td><%= demand.city %></td>
        <td><%= demand.demandType %></td>
        <td><%= demand.dueDate %></td>
        <td><%= link_to 'Show', demand %></td>
        <td><%= link_to 'Edit', edit_demand_path(demand) %></td>
        <td><%= link_to 'Destroy', demand, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Demand', new_demand_path, class: 'btn btn-primary' %>
